.App {
  margin: 50px;
  padding: 16px;
  width: 300px;
  height: 500px;
  background-color: #545353;
  border-radius: 15px;
  overflow-x: scroll;
}

.professInfo {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

.professor_card {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0);
}

.professor_card .professor {
  display: grid;
  grid-row-gap: 10px;
}
.professor_card img {
  width: 20px;
  margin-left: 23px;
}
.professor_card .professor .professor-header {
  display: flex;
  align-items: flex-end;
}

.professor-name {
  font-size: 18px;
}

.professor-position {
  font-size: 12px;
}

.professor-school {
  font-size: 12px;
}

.professor-department {
  font-size: 12px;
}

.professor-email {
  font-size: 12px;
}

.searchBar {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar > input {
  border: none;
  font-size: 20px;
  background: #545353;
  color: #b9b9c5;
  text-align: center;
}

.searchBar > img {
  width: 30px;
}

.selectBar {
  margin-bottom: 16px;
  display: flex;
  place-content: space-around;
}

.search-icon {
  width: 10px;
}

.custom-select > select {
  width: 9rem;
}

.restaurant {
  display: flex;
}

.menu {
  display: flex;
}
